*{
    margin: 0;
    padding: 0;
}
.menu {
    position:absolute;
    width:120px;
    height: 300%;
    background-color: lightgoldenrodyellow;    
}

.text{
    width: 750px;
    height: 200px;
    padding: 20px;
    background-color: violet;
    margin-left: 130px;
    margin-top: 20px;
    text-align:center;
    
}
.bild{
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: deepskyblue;
    margin-left: 120px;
    margin-top: 20px;
    position: absolute;
}
.text2{
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: blueviolet;
    margin-left: 470px;
    margin-top: 20px;
}
.text3{
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: blueviolet;
    margin-left: 120px;
    margin-top: 10px;
    position: absolute;
}
.bild2{
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: deepskyblue;
    margin-left: 570px;
    margin-top: 10px;
}
.textp{
    font-size: 30px;
}
.menu1{
    margin-top: 50px;
    font-size: 35px;
}
.bildtext{
    text-align: center;
    padding-top: 70px;
    font-size: 70px;
}
.text10{
    text-align: center;
    padding-top: 70px;
    font-size: 70px;
}
.text11{
    font-size: 50px;
}
#flag{
    width: 190px;
    height: 100px;
    padding-top: 50px;
    margin-left: 500px;
}
ul{
    font-size: 22px;
    padding-left: 20px;
}
#bild3{
    width: 300px;
    height: 200px;
}
#karta{
    padding-left: 200px;
}

.bild4{
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: deepskyblue;
    margin-left: 120px;
    margin-top: 20px;
    position: absolute;
}
.text4{
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: blueviolet;
    margin-left: 470px;
    margin-top: 20px;
}
#food{
    width: 300px;
    height: 200px;
}

.text5{
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: blueviolet;
    margin-left: 120px;
    margin-top: 10px;
}
.bild5{
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: deepskyblue;
    margin-left: 570px;
    margin-top: 10px;
    position: absolute;
}

.bild6{
    width: 300px;
    height: 225px;
    padding: 20px;
    background-color: deepskyblue;
    margin-left: 120px;
    margin-top: 20px;
    position: absolute;
}
.text6{
    width: 400px;
    height: 225px;
    padding: 20px;
    background-color: blueviolet;
    margin-left: 470px;
    margin-top: 20px;
    position: absolute;
}
#ulaanbaatar{
    width: 300px;
    height: 200px;
}

